In [3]:
import pandas as pd
import numpy as np

Creating Data

In [4]:
# Create a Pandas Series from a Python list containing the numbers 1 to 10.
numbers = list(range(1, 11))
series = pd.Series(numbers)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# 2. Create a dataframe using a list of dictionaries
data = [
    {"Name": "Anju", "Age": 20},
    {"Name": "Ram", "Age": 14},
    {"Name": "Hari", "Age": 18}
]

# Create DataFrame
df2= pd.DataFrame(data)
print(df2)

   Name  Age
0  Anju   20
1   Ram   14
2  Hari   18

In [6]:
# 3. Create a dataframe manually wiwth atleast 5 rows and columsn.
data = {
    "Name": ["Anju", "Ram", "Hari", "Kamala", "Rita"],
    "Age": [20, 13, 16, 19, 22],
    "Address": ["Pokhara", "Kathmandu", "Lalitpur", "Biratnagar", "Butwal"],
    "Department": ["IT", "HR", "Finance", "Marketing", "Sales"],
    "Salary": [50000, 55000, 60000, 45000, 40000]
}

df1 = pd.DataFrame(data)

print(df1)

     Name  Age     Address Department  Salary
0    Anju   20     Pokhara         IT   50000
1     Ram   13   Kathmandu         HR   55000
2    Hari   16    Lalitpur    Finance   60000
3  Kamala   19  Biratnagar  Marketing   45000
4    Rita   22      Butwal      Sales   40000

In [7]:
# 4. Create a Series of dates using pd.date_range() for the last 30 days
dates = pd.Series(pd.date_range(end=pd.Timestamp.today(), periods=30))
print("Last 30 Days:")
print(dates, "\n")

Last 30 Days:
0    2025-07-14 11:41:57.353889
1    2025-07-15 11:41:57.353889
2    2025-07-16 11:41:57.353889
3    2025-07-17 11:41:57.353889
4    2025-07-18 11:41:57.353889
5    2025-07-19 11:41:57.353889
6    2025-07-20 11:41:57.353889
7    2025-07-21 11:41:57.353889
8    2025-07-22 11:41:57.353889
9    2025-07-23 11:41:57.353889
10   2025-07-24 11:41:57.353889
11   2025-07-25 11:41:57.353889
12   2025-07-26 11:41:57.353889
13   2025-07-27 11:41:57.353889
14   2025-07-28 11:41:57.353889
15   2025-07-29 11:41:57.353889
16   2025-07-30 11:41:57.353889
17   2025-07-31 11:41:57.353889
18   2025-08-01 11:41:57.353889
19   2025-08-02 11:41:57.353889
20   2025-08-03 11:41:57.353889
21   2025-08-04 11:41:57.353889
22   2025-08-05 11:41:57.353889
23   2025-08-06 11:41:57.353889
24   2025-08-07 11:41:57.353889
25   2025-08-08 11:41:57.353889
26   2025-08-09 11:41:57.353889
27   2025-08-10 11:41:57.353889
28   2025-08-11 11:41:57.353889
29   2025-08-12 11:41:57.353889
dtype: datetime64[ns]

In [8]:
# 5. Generate a random DataFrame using np.random.randn() with 5 rows and 3 columns. Name the columns accordingly. 
random= pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])
print("Random DataFrame:")
print(random, "\n")

Random DataFrame:
          A         B         C
0  0.511959  0.914431  1.934538
1 -1.245628 -0.667424  0.006424
2 -0.319373 -0.629086  0.343649
3  0.285164  1.579629 -2.107090
4 -0.410358 -0.463116 -0.678489

In [9]:
# 6. Create a Series of categorical data such as product categories or job titles. 
categories = pd.Series(["Decoration", "Grocery", "Furniture", "Stationery"])
print("Series of Categorical Data:")
print(categories)

Series of Categorical Data:
0    Decoration
1       Grocery
2     Furniture
3    Stationery
dtype: object

Reading Data Files

In [10]:
# 1. Read a CSV file and print first 5 rows
df = pd.read_csv("C:\\college_student_management_data.csv")
print(df.head())

print("First 5 rows of CSV:")
print(df.head(), "\n")

  student_id  age gender             major   GPA  course_load  \
0       S001   24  Other  Computer Science  2.42            5
1       S002   21   Male              Arts  3.73            6
2       S003   22   Male  Computer Science  2.80            3
3       S004   24   Male              Arts  2.59            4
4       S005   20  Other  Computer Science  2.30            4

   avg_course_grade  attendance_rate enrollment_status  lms_logins_past_month  \
0              67.2             0.71         Graduated                     32
1              64.4             0.84             Leave                     29
2              95.3             0.89         Graduated                     34
3              73.7             0.98         Graduated                     22
4              87.4             0.95            Active                      9

   avg_session_duration_minutes  assignment_submission_rate  \
0                            33                        0.70
1                            53                        0.91
2                            69                        0.58
3                            18                        0.91
4                            11                        0.77

   forum_participation_count  video_completion_rate risk_level
0                          8                   0.74       High
1                         13                   0.85     Medium
2                         18                   0.99     Medium
3                          6                   0.72     Medium
4                         15                   0.76       High
First 5 rows of CSV:
  student_id  age gender             major   GPA  course_load  \
0       S001   24  Other  Computer Science  2.42            5
1       S002   21   Male              Arts  3.73            6
2       S003   22   Male  Computer Science  2.80            3
3       S004   24   Male              Arts  2.59            4
4       S005   20  Other  Computer Science  2.30            4

   avg_course_grade  attendance_rate enrollment_status  lms_logins_past_month  \
0              67.2             0.71         Graduated                     32
1              64.4             0.84             Leave                     29
2              95.3             0.89         Graduated                     34
3              73.7             0.98         Graduated                     22
4              87.4             0.95            Active                      9

   avg_session_duration_minutes  assignment_submission_rate  \
0                            33                        0.70
1                            53                        0.91
2                            69                        0.58
3                            18                        0.91
4                            11                        0.77

   forum_participation_count  video_completion_rate risk_level
0                          8                   0.74       High
1                         13                   0.85     Medium
2                         18                   0.99     Medium
3                          6                   0.72     Medium
4                         15                   0.76       High

In [11]:
# 2. Read an Excel file with multiple sheets and load a specific sheet
xls = pd.ExcelFile("C:\\Users\\HP\\sample.xlsx")  
print(xls.sheet_names)

df_excel = pd.read_excel("C:\\Users\\HP\\sample.xlsx", sheet_name="Call Center Data")  
print("Excel File - Specific Sheet:")
print(df_excel.head(), "\n")

['Call Center Data']
Excel File - Specific Sheet:
   Unnamed: 0                           Unnamed: 1     Unnamed: 2 Unnamed: 3  \
0         NaN                    Excel Sample Data            NaN        NaN
1         NaN                                  NaN            NaN        NaN
2         NaN  Call Center Sentiment Analysis Data            NaN        NaN
3         NaN                                  NaN            NaN        NaN
4         NaN                                   ID  Customer Name  Sentiment

   Unnamed: 4      Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0         NaN             NaN        NaN        NaN        NaN        NaN
1         NaN             NaN        NaN        NaN        NaN        NaN
2         NaN             NaN        NaN        NaN        NaN        NaN
3         NaN             NaN        NaN        NaN        NaN        NaN
4  CSAT Score  Call Timestamp     Reason       City      State    Channel

     Unnamed: 10              Unnamed: 11  Unnamed: 12
0            NaN                      NaN          NaN
1            NaN                      NaN          NaN
2            NaN                      NaN          NaN
3            NaN                      NaN          NaN
4  Response Time  Call Duration (Minutes)  Call Center

In [12]:
# 3. Use the .shape attribute to find the number of rows and columns in a loaded DataFrame. 
df.shape

(1545, 15)

In [13]:
# 4. Use .info() to examine the structure and data types of the dataset. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1545 entries, 0 to 1544
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    1545 non-null   object
 1   age                           1545 non-null   int64
 2   gender                        1545 non-null   object
 3   major                         1545 non-null   object
 4   GPA                           1545 non-null   float64
 5   course_load                   1545 non-null   int64
 6   avg_course_grade              1545 non-null   float64
 7   attendance_rate               1545 non-null   float64
 8   enrollment_status             1545 non-null   object
 9   lms_logins_past_month         1545 non-null   int64
 10  avg_session_duration_minutes  1545 non-null   int64
 11  assignment_submission_rate    1545 non-null   float64
 12  forum_participation_count     1545 non-null   int64
 13  video_completion_rate         1545 non-null   float64
 14  risk_level                    1545 non-null   object
dtypes: float64(5), int64(5), object(5)
memory usage: 181.2+ KB

In [14]:
# 5. Use .describe() to summarize numeric statistics of the dataset. 
df.describe()

,age,GPA,course_load,avg_course_grade,attendance_rate,lms_logins_past_month,avg_session_duration_minutes,assignment_submission_rate,forum_participation_count,video_completion_rate
count,1545.000000,1545.000000,1545.000000,1545.000000,1545.000000,1545.000000,1545.000000,1545.000000,1545.000000,1545.000000
mean,21.482848,3.012324,4.487379,79.914887,0.794460,19.344984,49.365049,0.752201,9.642718,0.750958
std,2.300287,0.571395,1.098163,11.528625,0.115142,11.515003,23.195192,0.144351,5.752493,0.144840
min,18.000000,2.000000,3.000000,60.000000,0.600000,0.000000,10.000000,0.500000,0.000000,0.500000
25%,19.000000,2.520000,4.000000,69.900000,0.690000,10.000000,29.000000,0.630000,5.000000,0.620000
50%,22.000000,3.030000,5.000000,79.600000,0.790000,19.000000,49.000000,0.760000,10.000000,0.750000
75%,23.000000,3.510000,5.000000,89.700000,0.890000,29.000000,70.000000,0.880000,15.000000,0.880000
max,25.000000,4.000000,6.000000,100.000000,1.000000,39.000000,89.000000,1.000000,19.000000,1.000000

In [15]:
# 6. Write DataFrame to a file format (e.g., CSV)
df.to_csv("student.csv", index=False)
print("DataFrame has been written to 'student.csv'")

DataFrame has been written to 'student.csv'

Data Cleaning, Transformation, and Aggregation 
Data Indexing and Selection

In [16]:
# 1. Use .iloc to select the first 5 rows and the first 2 columns of the dataset. 
subset=df.iloc[:5,:2]
print(subset)

  student_id  age
0       S001   24
1       S002   21
2       S003   22
3       S004   24
4       S005   20

In [17]:
# 2. Use .loc to select rows with 'and','or' conditions
# AND condition
and_condition = df.loc[(df["major"] == 'Computer Science') & (df["enrollment_status"]=='Graduated')]
print("AND condition rows:")
print(and_condition)

AND condition rows:
     student_id  age  gender             major   GPA  course_load  \
0          S001   24   Other  Computer Science  2.42            5
2          S003   22    Male  Computer Science  2.80            3
14         S015   25    Male  Computer Science  3.52            4
33         S034   19    Male  Computer Science  3.76            4
56         S057   25   Other  Computer Science  3.89            5
...         ...  ...     ...               ...   ...          ...
1459      S1460   20  Female  Computer Science  3.09            5
1463      S1464   20   Other  Computer Science  3.07            4
1476      S1477   24    Male  Computer Science  3.97            4
1488      S1489   18    Male  Computer Science  2.20            5
1495      S1496   22    Male  Computer Science  3.30            5

      avg_course_grade  attendance_rate enrollment_status  \
0                 67.2             0.71         Graduated
2                 95.3             0.89         Graduated
14                71.9             0.89         Graduated
33                73.1             0.87         Graduated
56                92.5             0.68         Graduated
...                ...              ...               ...
1459              86.0             0.76         Graduated
1463              70.9             0.80         Graduated
1476              86.9             0.62         Graduated
1488              73.5             0.87         Graduated
1495              98.7             0.63         Graduated

      lms_logins_past_month  avg_session_duration_minutes  \
0                        32                            33
2                        34                            69
14                       37                            20
33                       21                            35
56                       34                            16
...                     ...                           ...
1459                     39                            79
1463                     16                            67
1476                     35                            26
1488                     15                            61
1495                      6                            77

      assignment_submission_rate  forum_participation_count  \
0                           0.70                          8
2                           0.58                         18
14                          0.77                         10
33                          0.76                          3
56                          0.67                         15
...                          ...                        ...
1459                        0.66                         18
1463                        0.78                          9
1476                        0.91                          9
1488                        0.78                         12
1495                        0.57                          9

      video_completion_rate risk_level
0                      0.74       High
2                      0.99     Medium
14                     0.95        Low
33                     0.74        Low
56                     0.60       High
...                     ...        ...
1459                   0.96     Medium
1463                   0.50     Medium
1476                   0.76       High
1488                   0.52       High
1495                   0.50       High

[121 rows x 15 columns]

In [18]:
or_condition = df.loc[(df["age"] < 22) | (df["gender"] =="Female")]
print("\nOR condition rows:")
print(or_condition)

OR condition rows:
     student_id  age  gender             major   GPA  course_load  \
1          S002   21    Male              Arts  3.73            6
4          S005   20   Other  Computer Science  2.30            4
6          S007   22  Female       Engineering  2.04            3
9          S010   19   Other       Engineering  3.10            4
10         S011   20   Other              Arts  2.44            4
...         ...  ...     ...               ...   ...          ...
1533      S1534   22  Female          Business  3.68            3
1534      S1535   20   Other          Business  2.97            6
1535      S1536   19  Female              Arts  3.55            5
1536      S1537   18    Male              Arts  3.35            4
1542      S1543   21    Male  Computer Science  3.61            5

      avg_course_grade  attendance_rate enrollment_status  \
1                 64.4             0.84             Leave
4                 87.4             0.95            Active
6                 87.6             0.91            Active
9                 84.4             0.65            Active
10                69.6             0.65             Leave
...                ...              ...               ...
1533              75.4             0.73             Leave
1534              96.6             0.65            Active
1535              90.5             0.79            Active
1536              80.2             0.84         Graduated
1542              66.3             0.99             Leave

      lms_logins_past_month  avg_session_duration_minutes  \
1                        29                            53
4                         9                            11
6                        27                            39
9                        19                            22
10                       18                            80
...                     ...                           ...
1533                      5                            37
1534                     24                            73
1535                     30                            41
1536                      8                            18
1542                      1                            89

      assignment_submission_rate  forum_participation_count  \
1                           0.91                         13
4                           0.77                         15
6                           0.70                          4
9                           0.79                         10
10                          0.56                          6
...                          ...                        ...
1533                        0.91                          8
1534                        0.60                         11
1535                        0.62                         18
1536                        0.94                         13
1542                        0.92                         18

      video_completion_rate risk_level
1                      0.85     Medium
4                      0.76       High
6                      0.77       High
9                      0.50       High
10                     0.55       High
...                     ...        ...
1533                   0.66       High
1534                   0.69       High
1535                   0.95     Medium
1536                   0.92     Medium
1542                   0.65        Low

[1034 rows x 15 columns]

In [19]:
# 3. Reset index and set a new index
df_reset = df.reset_index(drop=True)

# Set a new index to 'student_id'
df_new_index = df_reset.set_index('student_id')

print(df_new_index.head())

            age gender             major   GPA  course_load  avg_course_grade  \
student_id
S001         24  Other  Computer Science  2.42            5              67.2
S002         21   Male              Arts  3.73            6              64.4
S003         22   Male  Computer Science  2.80            3              95.3
S004         24   Male              Arts  2.59            4              73.7
S005         20  Other  Computer Science  2.30            4              87.4

            attendance_rate enrollment_status  lms_logins_past_month  \
student_id
S001                   0.71         Graduated                     32
S002                   0.84             Leave                     29
S003                   0.89         Graduated                     34
S004                   0.98         Graduated                     22
S005                   0.95            Active                      9

            avg_session_duration_minutes  assignment_submission_rate  \
student_id
S001                                  33                        0.70
S002                                  53                        0.91
S003                                  69                        0.58
S004                                  18                        0.91
S005                                  11                        0.77

            forum_participation_count  video_completion_rate risk_level
student_id
S001                                8                   0.74       High
S002                               13                   0.85     Medium
S003                               18                   0.99     Medium
S004                                6                   0.72     Medium
S005                               15                   0.76       High

SELECTION OF ROWS BASED ON SOME CONDITIONS

In [20]:
# Select students with GPA > 3.5 and attendance_rate > 0.85.
selected_rows = df[(df['GPA'] > 3.5) & (df['attendance_rate'] > 0.85)]
print(selected_rows.head())

   student_id  age gender             major   GPA  course_load  \
14       S015   25   Male  Computer Science  3.52            4
33       S034   19   Male  Computer Science  3.76            4
34       S035   23   Male          Business  3.65            4
40       S041   20   Male          Business  3.57            6
43       S044   25   Male              Arts  3.79            6

    avg_course_grade  attendance_rate enrollment_status  \
14              71.9             0.89         Graduated
33              73.1             0.87         Graduated
34              74.9             0.98             Leave
40              95.2             0.97         Graduated
43              78.6             0.93             Leave

    lms_logins_past_month  avg_session_duration_minutes  \
14                     37                            20
33                     21                            35
34                     17                            34
40                     29                            32
43                     25                            63

    assignment_submission_rate  forum_participation_count  \
14                        0.77                         10
33                        0.76                          3
34                        0.94                         10
40                        0.81                         11
43                        0.68                         17

    video_completion_rate risk_level
14                   0.95        Low
33                   0.74        Low
34                   0.91        Low
40                   0.54        Low
43                   0.74        Low

Filter rows using .query() syntax

In [21]:
query_rows = df.query("GPA > 3.5 and attendance_rate > 0.85")
print(query_rows.head())

   student_id  age gender             major   GPA  course_load  \
14       S015   25   Male  Computer Science  3.52            4
33       S034   19   Male  Computer Science  3.76            4
34       S035   23   Male          Business  3.65            4
40       S041   20   Male          Business  3.57            6
43       S044   25   Male              Arts  3.79            6

    avg_course_grade  attendance_rate enrollment_status  \
14              71.9             0.89         Graduated
33              73.1             0.87         Graduated
34              74.9             0.98             Leave
40              95.2             0.97         Graduated
43              78.6             0.93             Leave

    lms_logins_past_month  avg_session_duration_minutes  \
14                     37                            20
33                     21                            35
34                     17                            34
40                     29                            32
43                     25                            63

    assignment_submission_rate  forum_participation_count  \
14                        0.77                         10
33                        0.76                          3
34                        0.94                         10
40                        0.81                         11
43                        0.68                         17

    video_completion_rate risk_level
14                   0.95        Low
33                   0.74        Low
34                   0.91        Low
40                   0.54        Low
43                   0.74        Low

DATA TRANSFORMATION

In [22]:
# Use .apply() to categorize data
def categorize_gpa(gpa):
    if gpa >= 3.5:
        return 'Excellent'
    elif gpa >= 3.0:
        return 'Good'
    else:
        return 'Needs Improvement'

df['GPA_Category'] = df['GPA'].apply(categorize_gpa)
df.head()

,student_id,age,gender,major,GPA,course_load,avg_course_grade,attendance_rate,enrollment_status,lms_logins_past_month,avg_session_duration_minutes,assignment_submission_rate,forum_participation_count,video_completion_rate,risk_level,GPA_Category
0,S001,24,Other,Computer Science,2.42,5,67.2,0.71,Graduated,32,33,0.70,8,0.74,High,Needs Improvement
1,S002,21,Male,Arts,3.73,6,64.4,0.84,Leave,29,53,0.91,13,0.85,Medium,Excellent
2,S003,22,Male,Computer Science,2.80,3,95.3,0.89,Graduated,34,69,0.58,18,0.99,Medium,Needs Improvement
3,S004,24,Male,Arts,2.59,4,73.7,0.98,Graduated,22,18,0.91,6,0.72,Medium,Needs Improvement
4,S005,20,Other,Computer Science,2.30,4,87.4,0.95,Active,9,11,0.77,15,0.76,High,Needs Improvement

In [23]:
# 2. Use .map() to convert data
gender_map = {'Male': 'M', 'Female': 'F', 'Other': 'O'}
df['Gender_Code'] = df['gender'].map(gender_map)

In [24]:
# Create a new column using vectorized operations
# let new column be total activity
df['Total_Activity'] = df['lms_logins_past_month'] + df['forum_participation_count']

In [25]:
# Conditional Column  Two Values Based on Condition
df['Risk_Flag'] = df['risk_level'].apply(lambda x: 'Alert' if x == 'High' else 'Normal')
df.head()

,student_id,age,gender,major,GPA,course_load,avg_course_grade,attendance_rate,enrollment_status,lms_logins_past_month,avg_session_duration_minutes,assignment_submission_rate,forum_participation_count,video_completion_rate,risk_level,GPA_Category,Gender_Code,Total_Activity,Risk_Flag
0,S001,24,Other,Computer Science,2.42,5,67.2,0.71,Graduated,32,33,0.70,8,0.74,High,Needs Improvement,O,40,Alert
1,S002,21,Male,Arts,3.73,6,64.4,0.84,Leave,29,53,0.91,13,0.85,Medium,Excellent,M,42,Normal
2,S003,22,Male,Computer Science,2.80,3,95.3,0.89,Graduated,34,69,0.58,18,0.99,Medium,Needs Improvement,M,52,Normal
3,S004,24,Male,Arts,2.59,4,73.7,0.98,Graduated,22,18,0.91,6,0.72,Medium,Needs Improvement,M,28,Normal
4,S005,20,Other,Computer Science,2.30,4,87.4,0.95,Active,9,11,0.77,15,0.76,High,Needs Improvement,O,24,Alert

Grouping and Sorting

In [26]:
# 1. Group data and calculate average, min, and max
grouped_stats = df.groupby('major')['GPA'].agg(['mean', 'min', 'max'])
print(grouped_stats)

                      mean   min   max
major
Arts              2.985248  2.01  3.99
Business          3.000380  2.00  3.99
Computer Science  3.049769  2.00  4.00
Engineering       3.014323  2.00  4.00

In [27]:
# 2. Sort the DataFrame in descending order by GPA
sorted_df = df.sort_values(by='GPA', ascending=False)
print(sorted_df.head())

     student_id  age  gender             major   GPA  course_load  \
360        S361   21    Male  Computer Science  4.00            6
78         S079   24   Other  Computer Science  4.00            4
1360      S1361   23  Female       Engineering  4.00            3
217        S218   22    Male          Business  3.99            4
542        S543   20    Male              Arts  3.99            6

      avg_course_grade  attendance_rate enrollment_status  \
360               96.4             0.94            Active
78                68.2             0.91            Active
1360              89.6             0.61             Leave
217               78.0             0.76         Graduated
542               83.1             0.68             Leave

      lms_logins_past_month  avg_session_duration_minutes  \
360                      25                            46
78                       11                            81
1360                     22                            38
217                       9                            54
542                      26                            54

      assignment_submission_rate  forum_participation_count  \
360                         0.60                          8
78                          0.56                         11
1360                        0.55                         11
217                         0.88                         10
542                         0.91                          0

      video_completion_rate risk_level GPA_Category Gender_Code  \
360                    0.61        Low    Excellent           M
78                     0.50        Low    Excellent           O
1360                   0.88       High    Excellent           F
217                    0.86     Medium    Excellent           M
542                    0.94       High    Excellent           M

      Total_Activity Risk_Flag
360               33    Normal
78                22    Normal
1360              33     Alert
217               19    Normal
542               26     Alert

In [28]:
# 3. Create a pivot table showing average GPA by gender and major
pivot_table = df.pivot_table(values='GPA', index='gender', columns='major', aggfunc='mean')
print(pivot_table)

major       Arts  Business  Computer Science  Engineering
gender
Female  2.946719  3.082074          3.121797     2.964104
Male    3.025125  2.921944          3.077676     3.050826
Other   2.972759  2.979920          2.938992     3.032248

Data Types and Renaming

In [29]:
# 1. Print column data types using .dtypes
df.dtypes

student_id                       object
age                               int64
gender                           object
major                            object
GPA                             float64
course_load                       int64
avg_course_grade                float64
attendance_rate                 float64
enrollment_status                object
lms_logins_past_month             int64
avg_session_duration_minutes      int64
assignment_submission_rate      float64
forum_participation_count         int64
video_completion_rate           float64
risk_level                       object
GPA_Category                     object
Gender_Code                      object
Total_Activity                    int64
Risk_Flag                        object
dtype: object

In [30]:
#  3. Rename a single column
df.rename(columns={'GPA': 'Grade Point Average'}, inplace=True)
df.head()

,student_id,age,gender,major,Grade Point Average,course_load,avg_course_grade,attendance_rate,enrollment_status,lms_logins_past_month,avg_session_duration_minutes,assignment_submission_rate,forum_participation_count,video_completion_rate,risk_level,GPA_Category,Gender_Code,Total_Activity,Risk_Flag
0,S001,24,Other,Computer Science,2.42,5,67.2,0.71,Graduated,32,33,0.70,8,0.74,High,Needs Improvement,O,40,Alert
1,S002,21,Male,Arts,3.73,6,64.4,0.84,Leave,29,53,0.91,13,0.85,Medium,Excellent,M,42,Normal
2,S003,22,Male,Computer Science,2.80,3,95.3,0.89,Graduated,34,69,0.58,18,0.99,Medium,Needs Improvement,M,52,Normal
3,S004,24,Male,Arts,2.59,4,73.7,0.98,Graduated,22,18,0.91,6,0.72,Medium,Needs Improvement,M,28,Normal
4,S005,20,Other,Computer Science,2.30,4,87.4,0.95,Active,9,11,0.77,15,0.76,High,Needs Improvement,O,24,Alert

In [31]:
# 4. Rename multiple columns at once using a dictionary
df.rename(columns={
    'age': 'Age',
    'gender': 'Gender',
    'major': 'Major'
}, inplace=True)
df.head()

,student_id,Age,Gender,Major,Grade Point Average,course_load,avg_course_grade,attendance_rate,enrollment_status,lms_logins_past_month,avg_session_duration_minutes,assignment_submission_rate,forum_participation_count,video_completion_rate,risk_level,GPA_Category,Gender_Code,Total_Activity,Risk_Flag
0,S001,24,Other,Computer Science,2.42,5,67.2,0.71,Graduated,32,33,0.70,8,0.74,High,Needs Improvement,O,40,Alert
1,S002,21,Male,Arts,3.73,6,64.4,0.84,Leave,29,53,0.91,13,0.85,Medium,Excellent,M,42,Normal
2,S003,22,Male,Computer Science,2.80,3,95.3,0.89,Graduated,34,69,0.58,18,0.99,Medium,Needs Improvement,M,52,Normal
3,S004,24,Male,Arts,2.59,4,73.7,0.98,Graduated,22,18,0.91,6,0.72,Medium,Needs Improvement,M,28,Normal
4,S005,20,Other,Computer Science,2.30,4,87.4,0.95,Active,9,11,0.77,15,0.76,High,Needs Improvement,O,24,Alert

In [32]:
# Combine two DataFrames vertically using pd.concat()
df_combined = pd.concat([df1, df2], axis=0, ignore_index=True)
df_combined

     Name  Age     Address Department   Salary
0    Anju   20     Pokhara         IT  50000.0
1     Ram   13   Kathmandu         HR  55000.0
2    Hari   16    Lalitpur    Finance  60000.0
3  Kamala   19  Biratnagar  Marketing  45000.0
4    Rita   22      Butwal      Sales  40000.0
5    Anju   20         NaN        NaN      NaN
6     Ram   14         NaN        NaN      NaN
7    Hari   18         NaN        NaN      NaN

In [33]:
#6. Merge two DataFrames on a specific condition using pd.merge()
df_merged = pd.merge(df1, df2, on='Name', how='inner') 
df_merged

   Name  Age_x    Address Department  Salary  Age_y
0  Anju     20    Pokhara         IT   50000     20
1   Ram     13  Kathmandu         HR   55000     14
2  Hari     16   Lalitpur    Finance   60000     18

Data Cleaning

In [34]:
# 1. Count missing values in each column
missing_counts = df.isnull().sum()
print(missing_counts)

student_id                      0
Age                             0
Gender                          0
Major                           0
Grade Point Average             0
course_load                     0
avg_course_grade                0
attendance_rate                 0
enrollment_status               0
lms_logins_past_month           0
avg_session_duration_minutes    0
assignment_submission_rate      0
forum_participation_count       0
video_completion_rate           0
risk_level                      0
GPA_Category                    0
Gender_Code                     0
Total_Activity                  0
Risk_Flag                       0
dtype: int64

Since we dont have any missing values, lets introduce some to explore techniques of filling missing values.

In [35]:
df.loc[0, 'Grade Point Average'] = np.nan
df.loc[5, 'Major'] = np.nan
df.loc[10, 'attendance_rate'] = np.nan
print(df.isnull().sum())

student_id                      0
Age                             0
Gender                          0
Major                           1
Grade Point Average             1
course_load                     0
avg_course_grade                0
attendance_rate                 1
enrollment_status               0
lms_logins_past_month           0
avg_session_duration_minutes    0
assignment_submission_rate      0
forum_participation_count       0
video_completion_rate           0
risk_level                      0
GPA_Category                    0
Gender_Code                     0
Total_Activity                  0
Risk_Flag                       0
dtype: int64

In [36]:
# Replace missing GPA with the mean
gpa_mean = df['Grade Point Average'].mean()
df['Grade Point Average'].fillna(gpa_mean, inplace=True)

In [37]:
# Replace missing attendance_rate with the median
attendance_median = df['attendance_rate'].median()
df['attendance_rate'].fillna(attendance_median, inplace=True)

In [38]:
#Replace missing major with mode
major_mode = df['Major'].mode()[0]
df['Major'].fillna(major_mode, inplace=True)

In [39]:
print(df.isnull().sum())
df.head()

student_id                      0
Age                             0
Gender                          0
Major                           0
Grade Point Average             0
course_load                     0
avg_course_grade                0
attendance_rate                 0
enrollment_status               0
lms_logins_past_month           0
avg_session_duration_minutes    0
assignment_submission_rate      0
forum_participation_count       0
video_completion_rate           0
risk_level                      0
GPA_Category                    0
Gender_Code                     0
Total_Activity                  0
Risk_Flag                       0
dtype: int64

,student_id,Age,Gender,Major,Grade Point Average,course_load,avg_course_grade,attendance_rate,enrollment_status,lms_logins_past_month,avg_session_duration_minutes,assignment_submission_rate,forum_participation_count,video_completion_rate,risk_level,GPA_Category,Gender_Code,Total_Activity,Risk_Flag
0,S001,24,Other,Computer Science,3.012707,5,67.2,0.71,Graduated,32,33,0.70,8,0.74,High,Needs Improvement,O,40,Alert
1,S002,21,Male,Arts,3.730000,6,64.4,0.84,Leave,29,53,0.91,13,0.85,Medium,Excellent,M,42,Normal
2,S003,22,Male,Computer Science,2.800000,3,95.3,0.89,Graduated,34,69,0.58,18,0.99,Medium,Needs Improvement,M,52,Normal
3,S004,24,Male,Arts,2.590000,4,73.7,0.98,Graduated,22,18,0.91,6,0.72,Medium,Needs Improvement,M,28,Normal
4,S005,20,Other,Computer Science,2.300000,4,87.4,0.95,Active,9,11,0.77,15,0.76,High,Needs Improvement,O,24,Alert

In [40]:
#Drop duplicates 
df.drop_duplicates(inplace=True)

In [44]:
# Clean 'Major' column by stripping whitespace and converting to title case
df['Major'] = df['Major'].str.strip().str.title()

Pandas Profiling and Performance Optimization

In [41]:
from ydata_profiling import ProfileReport
import time

In [42]:
df = df.loc[:, df.nunique() > 1]
df = df.dropna(axis=1, how='all')

In [45]:
df = pd.read_csv("student.csv")
profile = ProfileReport(df, title="Student Data Report", minimal=True)
profile.to_file("student_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|| 15/15 [00:00<00:00, 93.83it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Memory and Index Optimization

In [46]:
# 1. Inspect memory usage
df.memory_usage(deep=True)

Index                              128
student_id                       94791
age                              12360
gender                           95784
major                           103073
GPA                              12360
course_load                      12360
avg_course_grade                 12360
attendance_rate                  12360
enrollment_status                98378
lms_logins_past_month            12360
avg_session_duration_minutes     12360
assignment_submission_rate       12360
forum_participation_count        12360
video_completion_rate            12360
risk_level                       94873
dtype: int64

In [49]:
# Initial memory usage
initial_memory = df.memory_usage(deep=True)
print(f"Initial Memory Usage:\n{initial_memory.sum() / 1024**2:.2f} MB")

# Set student_id as index and compare memory usage
df_indexed = df.copy().set_index('student_id')
indexed_memory = df_indexed.memory_usage(deep=True)
print(f"\nMemory Usage after setting index:\n{indexed_memory.sum() / 1024**2:.2f} MB")

Initial Memory Usage:
0.58 MB

Memory Usage after setting index:
0.58 MB

In [ ]:
# Convert string/object columns to 'category' dtype
df_category = df.copy()
for col in ['gender', 'major', 'enrollment_status', 'risk_level']:
    df_category[col] = df_category[col].astype('category')
category_memory = df_category.memory_usage(deep=True)
print(f"\nMemory Usage after converting object columns to category:\n{category_memory.sum() / 1024**2:.2f} MB")
print(f"Memory saved: {(initial_memory.sum() - category_memory.sum()) / 1024**2:.2f} MB")

Memory Usage after converting object columns to category:
0.22 MB
Memory saved by using category dtype: 0.37 MB

In [51]:
# Convert float64 to float32
df_float32 = df_category.copy()
for col in df_float32.select_dtypes(include='float64').columns:
    df_float32[col] = df_float32[col].astype('float32')
float32_memory = df_float32.memory_usage(deep=True)
print(f"\nMemory Usage after converting float64 to float32:\n{float32_memory.sum() / 1024**2:.2f} MB")
print(f"Memory saved: {(category_memory.sum() - float32_memory.sum()) / 1024**2:.2f} MB")

Memory Usage after converting float64 to float32:
0.19 MB
Memory saved: 0.03 MB

Vectorization and Filter Optimization

In [53]:
# Compare .loc[] vs .query() for filtering
start_time = time.time()
filter_loc = df.loc[df['age'] > 22]
end_time = time.time()
print(f"Time taken to filter using .loc[]: {end_time - start_time:.6f} seconds")

start_time = time.time()
filter_query = df.query('age > 22')
end_time = time.time()
print(f"Time taken to filter using .query(): {end_time - start_time:.6f} seconds")

Time taken to filter using .loc[]: 0.004248 seconds
Time taken to filter using .query(): 0.008040 seconds

In [54]:
# Use .isin() for efficient filtering
multiple_majors = ['Computer Science', 'Arts']
start_time = time.time()
df_isin = df[df['major'].isin(multiple_majors)]
end_time = time.time()
print(f"\nTime taken to filter using .isin(): {end_time - start_time:.6f} seconds")
print(f"Rows filtered with .isin(): {len(df_isin)}")

Time taken to filter using .isin(): 0.002012 seconds
Rows filtered with .isin(): 793

In [55]:
# Compare with multiple OR conditions 
start_time = time.time()
df_or = df[(df['major'] == 'Computer Science') | (df['major'] == 'Arts')]
end_time = time.time()
print(f"Time taken to filter using multiple OR conditions: {end_time - start_time:.6f} seconds")
print(f"Rows filtered with OR conditions: {len(df_or)}")

Time taken to filter using multiple OR conditions: 0.002008 seconds
Rows filtered with OR conditions: 793

In [57]:
# Chaining multiple Pandas operations (Filter, Groupby, Aggregation)
start_time = time.time()
summary_data = df.loc[df['enrollment_status'] == 'Active'].groupby('major').agg(
    average_gpa=('GPA', 'mean'),
    student_count=('GPA', 'count') 
).sort_values(by='average_gpa', ascending=False)
end_time = time.time()
print(f"\nTime taken for chained operations: {end_time - start_time:.6f} seconds")
print("\nChained Operations Output (Avg GPA and student count for Active students):")
print(summary_data)

Time taken for chained operations: 0.015318 seconds

Chained Operations Output (Avg GPA and student count for Active students):
                  average_gpa  student_count
major
Computer Science     3.052214            140
Engineering          2.999528            127
Arts                 2.959452            146
Business             2.949528            127